{% extends "network/layout.html" %}

{% block body %}
<h1>All Posts</h1>

<div class="card m-2">
    <div class="card-body">
        <h3 class="card-title">New Post</h3>
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.content }}
            </div>
            {% if form.content.errors %}
                <div class="custom-error">
                    {% for error in form.content.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            <input type="submit" value="Post" class="btn btn-primary">
        </form>
    </div>
</div>

{% include 'network/list_posts.html' %}

<hr />


{% endblock %}